
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.buttons {
    display: flexbox;
    width: 270px;
    gap: 10px;
    --b: 3px;   
    --h: 1.8em; 
    max-width: calc(100% - 20px);
    margin: 0 auto;
    justify-content: space-between; 
    gap: 10px;
  }
  
  .buttons button {
    --_c: #88C100;
    flex: calc(1.00 + var(--_s,0));
    min-width: 0;
    font-size: 20px;
    font-weight: bold;
    height: var(--h);
    cursor: pointer;
    color: var(--_c);
    border: var(--b) solid var(--_c);
    background: 
      conic-gradient(at calc(100% - 1.3*var(--b)) 0,var(--_c) 209deg, #0000 211deg) 
      border-box;
    clip-path: polygon(0 0,100% 0,calc(100% - 0.577*var(--h)) 100%,0 100%);
    padding: 0 calc(0.288*var(--h)) 0 0;
    margin: 0 calc(-0.288*var(--h)) 0 0;
    box-sizing: border-box;
    transition: flex .4s;
  }

  .buttons button + button {
    --_c: #ADD8E6;
    flex: calc(.75 + var(--_s,0));
    background: 
      conic-gradient(from -90deg at calc(1.3*var(--b)) 100%,var(--_c) 119deg, #0000 121deg) 
      border-box;
    clip-path: polygon(calc(0.577*var(--h)) 0,100% 0,100% 100%,0 100%);
    margin: 0 0 0 calc(-0.288*var(--h));
    padding: 0 0 0 calc(0.288*var(--h));
  }
  .buttons button:focus-visible {
    outline-offset: calc(-2*var(--b));
    outline: calc(var(--b)/2) solid #000;
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }
  .buttons button:focus-visible + button {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }
  .buttons button:has(+ button:focus-visible) {
    background: none;
    clip-path: none;
    margin: 0;
    padding: 0;
  }
  button:hover,
  button:active:not(:focus-visible) {
    --_s: .75;
  }
  button:active {
    box-shadow: inset 0 0 0 100vmax var(--_c);
    color: #fff;
  }


.card:hover {
    transform: translateY(-10px); /* Slightly smaller hover effect */
    box-shadow: 0 6px 12px rgba(173, 17, 17, 0.2); 
}

.card-img-top {
    max-height: 100px; 
    width: 100%; 
    object-fit:contain;
    padding: 15px; 
}

.card-body {
    font-family: 'Roboto', sans-serif;
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.card-footer {
  background-color: #333; 
  color: #fff; 
}


.card-text .shared-by {
  font-size: 0.9rem;
  color: #bbb; 
}


.card-custom {
  background-color: #dfe1e2; 
  color: #333; 
  border: 1px solid #ddd; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.card-custom .card-title strong {
  color: #0056b3; 
}

.card-custom .card-text {
  margin-bottom: 10px; 
  line-height: 1.5; 
}

.card-custom .card-footer {
  background-color: #e9ecef; 
  color: #666; 
}

.card-custom .dark-theme-buttons .btn {
  margin-bottom: 5px; 
}

.card-custom .buttons button {
  margin-right: 10px; 
}


